.skills{
    background-image: url('../../assests/images/skills__jpeg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10vh;
}
.skills_bx{
    font-size: 4rem;
} 
.main__skills{
    height: 100vh;
}
@media screen and (max-width: 790px) {
    .main__skills{
        text-align: center;
        padding-top: 25vh;
        gap: 2rem;
    }
}