.home {
    height: 100vh;
    background-color: black;
    color: white;
    padding-top: 10vh;
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
.__grad {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 52.9%, rgb(255, 255, 255) 49.1%);
}
._contactMe{
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    background-color: white;
}
._contactMe:hover{
    border-radius: 25px;
    transition: .4s;
    scale: 1.03;
    box-shadow: rgba(255, 255, 255, 0.45) 0px 25px 20px -20px;
    
}
.section__brand{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.__emoji__hi{
    font-size: 2.5rem;
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  
}
.brand__name {
    font-size: 2.5rem;
    color: rgb(255, 149, 81);
}

.left__intro {
    height: 80vh;
    color: white
}
.img-laptop:hover{
    transition: 1s;
    scale: 1.1;
}
.right__intro {
    height: 80vh;
}

.download_cv_btn {
    position: absolute;
    margin-left: -16rem;
    margin-top: 6rem;
    width: 7rem;
    border-radius: 1rem;
    justify-self: center;
    text-align: center;
    color : rgb(255, 149, 81)
}
.download_cv_btn:link{
    text-decoration: none !important;
    color: rgb(255, 149, 81) !important;
}
.download_cv_btn:hover{
    text-decoration: none !important;
    color: black !important;
}
@media screen and (max-width: 790px) {
    .section__brand{
        font-size: 2rem;
        font-size: bold;
    }
    .left__intro {
        padding-top: 2rem;
        height: 40vh;
    }

    .right__intro {
        height: 40vh;
    }
    .brand__name {
        font-size: 1.6rem;
    }
    .__emoji__hi{
        font-size: 1.6rem;
    }
    .download_cv_btn {
        position: absolute;
        margin-top: 3rem;
        margin-left: -11rem;
        color: rgb(255, 159, 41);
    }
}
