.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgba(11, 11, 11, 0.2) !important; 
    backdrop-filter: blur(6px) saturate(125%); 
}
.navbar-brand{
    color: rgb(220, 214, 247) !important;
}
.nav-link{
    color:rgb(248, 248, 248) !important;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-link:hover{
    color: rgb(177, 178, 255) !important;
}