.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgba(11, 11, 11, 0.4) !important; 
    backdrop-filter: blur(10px) saturate(125%); 
}
.navbar-brand{
    color: rgb(255, 149, 81) !important;
}
.nav-link{
    color:rgb(248, 248, 248) !important;
    font-weight: bolder;
}
.nav-link:hover{
    color: rgb(89, 206, 143)  !important;
}