@font-face {
  font-family: Gumela;
  src: url('fonts/Gumela.otf')
}
*{
  font-family: 'Gumela';
  font-weight: normal;
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}